body{
  margin: 0.00;
  background-image: url("../Image/iaf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.first{
  background-color: #43919B;
  width:100%;
}

.hov:hover{
  background-color: #6FB2D2;

}
table{
  width: 50%;
}
.tr{
  width: 100%;
  height: 200px;
}
h1{
  color:#46244C;
}
p{
  color:#46244C;
}
h2{
  color: #712B75;
}
